body{
    background-color: rgb(42, 45, 52);
    width: 300px;
    height: 100px ;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
div{
    position: absolute;
}
label{
    font: larger;
    font-weight: bolder;
}
#toshelp{
    position:absolute;font-weight: bold;top:5px;left:10px;font-size: larger;
}
#SettingsButton{
    position: absolute;
    left: 270px;
    top:2px;
    background-color:transparent;
    border:0px;
    border: 0px
}
.MainButtons{
    position: absolute;
    font-size:xx-large;
    border-radius: 50px; 
    border-style: none;

}
#buttonhead{
    float: right;
    right: 10px;
}
#top{
    position: absolute;
    font-size: medium;
    color: rgb(227, 227, 227);
    left: 40px;
}
#SettingsImage{
    height:30px;width:30px;
}
#buttons{
    top:55px
}
#button1{
    width: max-content;left:20px
}
#button2{
    width: max-content;left:150px
}
.mhead{
    height:30px;
    font-size: x-large;
    position: absolute;
    width:120%;
    padding-left: 10px;
    padding-top: 5px;
    background-color: rgb(160, 221, 230);
    box-shadow: 0px 1px 10px #A0DDE6;
}
