body{
    background-color: rgb(42, 45, 52);
    width: 300px;
    height: 100px ;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
div{
    position: absolute;
}
label{
    font: larger;
    font-weight: bolder;
}

.mhead{
    height:30px;
    font-size: x-large;
    position: absolute;
    left:0px;
    top:0px;
    width:120%;
    background-color: rgb(160, 221, 230);
    box-shadow: 0px 1px 5px black;
}
.MainButtons{
    position: absolute;
    font-size:xx-large;
    border-radius: 50px; 
    border-style: none;

}
#toshelp{
    color: black; text-decoration: none;
    position:absolute;font-weight: bold;top:1px;left:90px;font-size: larger;
}
#SettingsButton{
    position: absolute;
    left: 270px;
    top:-1px;
    background-color:transparent;
    border:0px;
    border: 0px
}
#buttonhead{
    float: right;
    right: 10px;
}
#top{
    position: absolute;
    font-size: medium;
    color: rgb(227, 227, 227);
    left: 40px;
}
#SettingsImage{
    height:30px;width:30px;
}
#buttons{
    top:55px
}
#button1{
    width: max-content;left:10px
}
#button2{
    width: max-content;left:165px
}