body{
    background-color: #e9eaf2;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

div{
    position : flex;
}
button{
    font-size: large;
    background-color: transparent;
    border-radius: 5px ;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}